*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root,
app-home {
  height: 100%;
}

body {
  font-family: 'Press Start 2P', monospace, sans-serif;
  background: linear-gradient(135deg, #180048, #2f004f, #460171);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 16px;
}
