*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root,
app-home {
  height: 100%;
}

body {
  font-family: 'Press Start 2P', cursive, sans-serif;
  background: linear-gradient(130deg, #bdaef1, #953de0, #5a248a, #32196b,#1d0f45, #0e1040);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 400px;
  width: 90%;
  padding: 1rem;
  text-align: center;
}
