// app.scss

/* Reset global de márgenes y padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuración global de la fuente y la altura */
html,
body,
app-root,
app-home {
  height: 100%;
}

body {
  font-family: 'Press Start 2P', monospace, sans-serif;
  background: linear-gradient(135deg, #180048, #2f004f, #460171);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 16px; /* Tamaño base para la tipografía */
}
