<div class="loading-screen" *ngIf="!gameDetailsLoaded && gameId; else settingsPage">
  <h2>Loading game settings... ⏳</h2>
</div>
<ng-template #settingsPage>
  <div class="settings-container" *ngIf="gameDetailsLoaded">
    <header class="header">
      <h1>🛠️ Game Settings 🛠️</h1>
    </header>

    <section class="settings-screen">
      <div class="auth-options">
        <div *ngIf="isLoggedIn && userName; else guestInput">
          <p>A new game for ✨ <strong>{{ userName }}</strong> ✨ </p>
        </div>
        <ng-template #guestInput>
          <form [formGroup]="authForm">
            <label>Name: </label>
            <input id="guestName" formControlName="guestName" type="text" maxlength="8" placeholder="Enter your name">
            <div *ngIf="authForm.get('guestName')?.hasError('pattern') && authForm.get('guestName')?.touched">
              <small>Name must only contain letters and numbers.</small>
            </div>
            <div *ngIf="authForm.get('guestName')?.hasError('maxlength') && authForm.get('guestName')?.touched">
              <small>Name must not exceed 8 characters.</small>
            </div>
            <div class="subtitle">
              Play as a User? <a routerLink="/register">Register</a> / <a routerLink="/login">Log In</a>
            </div>
          </form>
        </ng-template>
      </div>

      <div class="setting-option">
        <label for="rounds">Number of Rounds:</label>
        <div class="value-display" *ngIf="gameId; else roundsSelect">
          <p>{{ rounds }}</p>
        </div>
        <ng-template #roundsSelect>
          <select id="rounds" [(ngModel)]="rounds">
            <option *ngFor="let round of [1, 2, 3, 4, 5]" [value]="round">{{ round }}</option>
          </select>
        </ng-template>
      </div>

      <div class="setting-option">
        <label for="mode">Mode:</label>
        <div class="value-display" *ngIf="gameId; else modeSelect">
          <p>{{ mode }}</p>
        </div>
        <ng-template #modeSelect>
          <select id="mode" [(ngModel)]="mode">
            <option value="classic">Classic ✋</option>
            <option value="spock">Spock 🖖</option>
          </select>
        </ng-template>
      </div>

      <div class="setting-option">
        <label for="opponent">Opponent:</label>
        <div class="value-display" *ngIf="gameId; else opponentSelect">
          <p>{{ player1name }}</p>
        </div>
        <ng-template #opponentSelect>
          <select id="opponent" [(ngModel)]="opponent">
            <option value="machine">Machine 🤖</option>
            <option value="human">Human 🤠</option>
          </select>
        </ng-template>
      </div>
      <div *ngIf="showErrorMessage" class="error-message">
        <small>You cannot play without a player name.</small>
      </div>

      <button class="btn-primary start-game" (click)="startGame()">Start Game</button>
      <button class="btn-back" *ngIf="!gameId" (click)="goBack()">← Back</button>
    </section>
  </div>
</ng-template>
