@import '../abstracts/variables';

.choose-move-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.carousel {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.carousel-btn {
  background-color: var(--color-medium-purple);
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease;
}

.carousel-btn:hover {
  background-color: var(--color-dark-purple);
}

.carousel-items {
  display: flex;
  overflow: hidden;
  width: 80px;
  justify-content: center;
}

.move-item {
  font-size: 2rem;
  display: none;
  text-align: center;
  color: var(--color-title);
  transition: transform 0.3s ease;
}

.move-item.active {
  display: block;
  transform: scale(1.2);
}

.throw-btn {
  width: 80%;
  padding: 0.8rem;
}
