<div class="container">
  <header class="header">
    <div class="title">
      <h1>🎮 Rock Paper Scissors 🎮</h1>
    </div>

    <p class="subtitle" *ngIf="isLoggedIn && userName && userName.trim() !== ''">Hi <strong>{{ userName }}</strong>  👋! Welcome back!</p>
  </header>

  <section class="home">
    <button class="btn-primary" *ngIf="isLoggedIn && userName" (click)="navigateTo('settings')">Play</button>
    <button class="btn-secondary" *ngIf="isLoggedIn && userName" (click)="navigateTo('history')">History</button>
    <button class="btn-secondary" *ngIf="isLoggedIn && userName" (click)="logout()">Logout</button>

    <button class="btn-primary" *ngIf="!isLoggedIn || !userName" (click)="navigateTo('settings')">Play</button>
    <button class="btn-secondary" *ngIf="!isLoggedIn || !userName" (click)="navigateTo('login')">Log In</button>
    <button class="btn-secondary" *ngIf="!isLoggedIn || !userName" (click)="navigateTo('register')">Register</button>
  </section>
</div>
