.header {
  font-size: 0.8rem;
  color: var(--color-title);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  margin-top: 0.7rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 0.68rem;
  color: var(--pale-blue);
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 600px) {
  header {
    font-size: 0.4rem;
  }
}
