<div class="container">
  <header class="header">
    <h1>🔑 Login 🔑</h1>
  </header>

  <section class="login-screen">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" (blur)="loginForm.controls['email'].markAsTouched()" />
        <div *ngIf="isFieldInvalid('email')">
          <small class="error">Please enter a valid email address.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" (blur)="loginForm.controls['password'].markAsTouched()" />
        <div *ngIf="isFieldInvalid('password')">
          <small class="error">Password is required</small>
        </div>
      </div>

      <div class="error-message" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>
      <p class="text-secondary">Don't have an account? <a routerLink="/register" class="link">Sign up</a></p>

      <button class="btn-primary" type="submit" [disabled]="loginForm.invalid">Log In</button>
    </form>
  </section>

  <button class="btn-back" (click)="goBack()">← Back</button>
</div>
