:root {
  --color-title: #ddd0f6;
  --color-light-lavender: #b19cd9;
  --color-light: rgba(177, 156, 217, 0.16);
  --color-light-purple: #a762e8;
  --color-dark-purple: rgba(75, 0, 130, 0.57);
  --color-black: #160028;
  --color-deep-purple: rgba(58, 13, 94, 0.05);
  --color-mid-purple: #5c1979;
  --color-soft-pink: #9a4ca5;
  --color-pale-pink: #8c7bb9;
  --color-intermediate-purple: #6a2a92;
  --dark-purple: #140048;
  --light-blue: #55E0FC;
  --blue: #4e46d3;
  --blue-light: rgba(78, 70, 211, 0.05);
  --bright-purple: #8f58f9;
  --magenta-pink: #F050F8;
  --magenta-light: rgba(240, 80, 248, 0.07);
  --magenta-dark: #2f0035;
  --white: #FFFFFF;
  --pale-blue: #bfe8f1;
  --gray: #717174;
  --green: #89d777;
  --yellow: #d4d777;
}
