:root {
  --color-title: #ddd0f6;
  --color-light-lavender: #b19cd9;
  --color-medium-purple: #8a2be2;
  --color-dark-purple: #4b0082;
  --color-black: #160028;
  --color-deep-purple: #3a0d5e;
  --color-mid-purple: #5c1979;
  --color-soft-pink: #9a4ca5;
  --color-pale-pink: #8c7bb9;
  --color-intermediate-purple: #6a2a92;
}
