<div class="container">
  <header class="header">
    <h1>📝 Register 📝</h1>
  </header>

  <section class="register-screen">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-container">
          <input
            id="username"
            type="text"
            formControlName="username"
            minlength="2"
            maxlength="9"
            (blur)="registerForm.controls['username'].markAsTouched()"
          />
        </div>
        <div *ngIf="isFieldInvalid('username')">
          <small class="error">{{ getUsernameErrorMessage() }}</small>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-container">
          <input
            id="email"
            type="email"
            formControlName="email"
            (blur)="registerForm.controls['email'].markAsTouched()"
          />
        </div>
        <div *ngIf="isFieldInvalid('email')">
          <small class="error">Please enter a valid email</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-container">
          <input
            id="password"
            type="password"
            formControlName="password"
            maxlength="16"
            (blur)="registerForm.controls['password'].markAsTouched()"
          />
        </div>
        <div *ngIf="isFieldInvalid('password')">
          <small class="error">{{ getPasswordErrorMessage() }}</small>
        </div>
      </div>

      <div class="error-message" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </div>
      <p class="text-secondary">Already have an account? <a routerLink="/login" class="link">Log in</a></p>

      <button class="btn-primary" type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </section>
  <button class="btn-back" (click)="goBack()">← Back</button>
</div>
